<!-- 
    Faire un formulaire d'inscription
    - email
    - pseudo
    - pass x 2
    - cgu
-->
<form action="#" id="form">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required minlength="5">

    <label for="pseudo">Pseudo</label>
    <input type="text" name="pseudo" id="pseudo" required minlength="2">

    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" required minlength="5">

    <label for="password-secure">Répéter le mot de passe</label>
    <input type="password" name="password-secure" id="password-secure" required minlength="5">

    <label for="conditions">Accepter les <a href="#">CGU</a></label>
    <input type="checkbox" name="conditions" id="conditions" required>

    <button type="submit">Inscription</button>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Variables
        const email = document.querySelector('#email');
        const pseudo = document.querySelector('#pseudo');
        const password = document.querySelector('#password');
        const passwordSecure = document.querySelector('#password-secure');
        const conditions = document.querySelector('#conditions');

        // Capter la soumissionn du formulaire
        document.querySelector('form').addEventListener('submit', (event) => {
            // Bloquer le comportement naturel du formulaire
            event.preventDefault();

            // Variable 
            let formError = 0;

            // Vérifier les champs du formulaire
            if( email.value.length <= 4 ) formError++;
            if( pseudo.value.length <= 1 ) formError++;
            if( password.value.length <= 4 ) formError++;
            if( password.value !== passwordSecure.value  ) formError++;
            if( !conditions ) formError++;

            // Validation finale
            if( formError === 0 ){
                let form = new FormData(document.querySelector('#form'));

                // Ajouter un document dans la base PouchDB
                innerDBuser.put({
                    _id: makeid(),
                    email: email.value,
                    password: password.value,
                    pseudo: pseudo.value

                }, ( err, data )=> {
                    if(err){
                        console.error(err);
                    }
                    else{
                        console.log(data);
                    };
                })
                
            };

        });
    });

</script>