<form action="submit" method="post">

        <label for="email"> Email </label>
        <input id="email" type="email" placeholder="Ton adresse mail" name="email" required minlength="5">

        <label for="pseudo">Pseudo</label>
        <input id="pseudo" type="text"  placeholder="Ton pseudo" name="pseudo" required minlength="5">
        
        <label for="password">Mot de Passe</label>
        <input id="password" type="password"  placeholder="Mot de passe" name="password" required minlength="5">

        <label for="password-secure">Répéter mot de passe</label>
        <input id="password-secure" type="password"  placeholder="Confirmer mot de passe" name="password-secure" required minlength="5"> 

        <label for="conditions">Accepter les <a href="#">CGU</a></label>
        <input id="conditions" type="checkbox" name="conditions" id="conditions"> 
        
        
    
        <button type="submit"> S'inscrire </button>
        
    </form>