<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HETIC chat</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
        <script>
            // Function to define random _id
            const makeid = () => {
                let _id = "";
                const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (let i = 0; i < 15; i++)
                    _id += possible.charAt(Math.floor(Math.random() * possible.length));

                return _id;
            }
            
            // Pouch/Couch configuration
            const innerDBuser = new PouchDB('inner-user');
            const remoteDB = `http://127.0.0.1:5984/hetic-user`;

            // DB sync
            innerDBuser.changes({
                since: `now`,
                live: true
            }).on( `change`, data => console.log(data) );

            // Initialise a sync with the remote server
            if (remoteDB) {
                innerDBuser.replicate.to(remoteDB, { live : true }, console.log('Sync to remote is active'));
                innerDBuser.replicate.from(remoteDB, { live : true }, console.log('Sync from remote is active'));
            };
        </script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>

          <% if( connected === false){%>
          <li><a href="/login">Connexion</a></li>
          <li><a href="/register">Inscription</a></li>
          <% } %>

          <% if( connected ){%>
          <li><a href="/chat">Chat room</a></li>
          <% } %>

        </ul>
      </nav>
    </header>

    <main>